/* 

COLORS
#00BCD4:cyan (top nav, image border)
#D32F2F:red (button, house logo, "for sale by owner" text)
#616161:dark gray (well)
#212121:body text
#727272: h2,h3;  

TABLE OF CONTENTS
-Basic
-Top Navigation
-Typography
-Images
-Buttons
-Footer
-Media Queries 

*/

/*-----------------------------------------------------------------------------------*/
/* Basic */
/*-----------------------------------------------------------------------------------*/

body {
    color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    font-weight: 100;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */  
}

a {
    font-weight: bold;
}

.well {
    background-color: #616161;
    border-radius: 0px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;   
}

/* ---------------------------------------------------*/
/* Top Navigation */
/* ---------------------------------------------------*/

.navbar-fixed-top .nav {
    padding: 5px 0;
}

.navbar-inverse {
    background-color: #00BCD4;
    border-color: #00BCD4;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
}

.navbar .nav > li > a:hover {
  font-weight: 700;
}

.navbar-brand {
    margin-top: -10px;
}

/*---------------------------------*/
/* Typography */
/*---------------------------------*/


h1 {
    color: #D32F2F; 
    font-family: 'Rancho', cursive;
    font-size: 3.5em; 
    font-weight: 100;     
}

h2 {
    font-size: 1.2em;
    font-weight: 300;
    margin-top: -2px;
}

h3 {
    font-weight: 700;
    margin-top: 10px;
}

h2,h3 {
    color: #727272;
}

hr.rulestyle { 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  border: 0; 
  height: 1px; 
}  
   
hr.rulestyle-dotted {
    border-top: 1px dashed #8c8b8b;
}

.properties {
    font-size: 1.85em;
}

/* ---------------------------------------------------*/
/* Images */
/* ---------------------------------------------------*/

.img-rounded {
    padding: 10px;
    border: 1px solid #00BCD4;
}

/* ---------------------------------------------------*/
/* Buttons */
/* ---------------------------------------------------*/

.btn-default {
    background-color: #00BCD4;
    border-color: #00BCD4;
    color: #fff;   
}

.btn-default:hover {
    background-color: #fff;
    border-color: #00BCD4;
    color: #212121;
}

.btn-primary {
    background-color: #D32F2F;
    border-color: #D32F2F;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 15px;  
}

.btn-primary:hover {
    background-color: #fff;
    border-color: #727272;
    color: #727272;   
}

.hgh {
    background-color: #fff;
    border: 1px solid #727272;
    color: #727272;
    font-size: .85em;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: -10px;   
}

.hgh:hover {
    background-color: #D32F2F;
    border: none;
    color: #fff;  
}

/* ---------------------------------------------------*/
/* Footer */
/* ---------------------------------------------------*/

footer {
    padding: 30px 0;
}

footer p {
    font-size: .75em;
}

/* ---------------------------------------------------*/
/* Media Queries */
/* ---------------------------------------------------*/

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }
    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}